<center><h1>Hello Welcome to the Todo Application</h1></center>

<div class="jumbotron">
  <p>Keep track of your stuff</p>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-sm btn-outline-primary" %> / <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-sm btn-outline-dark" %> 
</div>